.head {
  display: flex;
  height: 5vh;
  width: auto;
  background-color: rgb(46, 133, 246);
  justify-content: space-between;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-shrink: 0;
}

.sender {
  flex: 0 1 auto;

}

.main-container {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cont {
  flex-grow: 1;
  max-height: 100vmin;

  display: flex;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}

.message-cont {

  height: 100%;
  /* for Firefox  */
  min-height: 0;
  flex: 1 1 0;
  overflow-y: scroll;
  flex-direction: column;
}


.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}
